In [1]:
from dotenv import load_dotenv
import os
import pandas as pd
import sqlite3
import requests
import json
from pandas import json_normalize
import pandas as pd

# Load env. variables from .env file
load_dotenv()
api_key = os.getenv("RAPIDAPI_KEY")
api_host = os.getenv("RAPIDAPI_HOST")
db_path = os.getenv("db_path")
json_path = os.getenv("json_path")

In [2]:
# Load JSON file from data/json_files/season
with open("C:/Users/salvo/Desktop/Progetti/AIBetting/core/data/json_files/standings_info.json") as json_file:
    data = json.load(json_file)
    print(data)

{'get': 'standings', 'parameters': {'league': '310', 'season': '2020'}, 'errors': [], 'results': 1, 'paging': {'current': 1, 'total': 1}, 'response': [{'league': {'id': 310, 'name': 'Superliga', 'country': 'Albania', 'logo': 'https://media.api-sports.io/football/leagues/310.png', 'flag': 'https://media.api-sports.io/flags/al.svg', 'season': 2020, 'standings': [[{'rank': 1, 'team': {'id': 3320, 'name': 'Teuta Durrës', 'logo': 'https://media.api-sports.io/football/teams/3320.png'}, 'points': 66, 'goalsDiff': 26, 'group': 'Superliga', 'form': 'WDLWW', 'status': 'up', 'description': 'UEFA Champions League Qualifiers', 'all': {'played': 36, 'win': 17, 'draw': 15, 'lose': 4, 'goals': {'for': 42, 'against': 16}}, 'home': {'played': 18, 'win': 7, 'draw': 9, 'lose': 2, 'goals': {'for': 24, 'against': 11}}, 'away': {'played': 18, 'win': 10, 'draw': 6, 'lose': 2, 'goals': {'for': 18, 'against': 5}}, 'update': '2021-05-26T00:00:00+00:00'}, {'rank': 2, 'team': {'id': 3339, 'name': 'Vllaznia Shkodër', 'logo': 'https://media.api-sports.io/football/teams/3339.png'}, 'points': 66, 'goalsDiff': 22, 'group': 'Superliga', 'form': 'WWWWL', 'status': 'up', 'description': 'UEFA Conference League Qualifiers', 'all': {'played': 36, 'win': 19, 'draw': 9, 'lose': 8, 'goals': {'for': 44, 'against': 22}}, 'home': {'played': 18, 'win': 10, 'draw': 4, 'lose': 4, 'goals': {'for': 24, 'against': 14}}, 'away': {'played': 18, 'win': 9, 'draw': 5, 'lose': 4, 'goals': {'for': 20, 'against': 8}}, 'update': '2021-05-26T00:00:00+00:00'}, {'rank': 3, 'team': {'id': 708, 'name': 'Partizani', 'logo': 'https://media.api-sports.io/football/teams/708.png'}, 'points': 65, 'goalsDiff': 30, 'group': 'Superliga', 'form': 'WLWDD', 'status': 'down', 'description': 'UEFA Conference League Qualifiers', 'all': {'played': 36, 'win': 17, 'draw': 14, 'lose': 5, 'goals': {'for': 53, 'against': 23}}, 'home': {'played': 18, 'win': 8, 'draw': 8, 'lose': 2, 'goals': {'for': 24, 'against': 6}}, 'away': {'played': 18, 'win': 9, 'draw': 6, 'lose': 3, 'goals': {'for': 29, 'against': 17}}, 'update': '2021-05-26T00:00:00+00:00'}, {'rank': 4, 'team': {'id': 2256, 'name': 'Laci', 'logo': 'https://media.api-sports.io/football/teams/2256.png'}, 'points': 61, 'goalsDiff': 15, 'group': 'Superliga', 'form': 'LDWDW', 'status': 'down', 'description': None, 'all': {'played': 36, 'win': 16, 'draw': 13, 'lose': 7, 'goals': {'for': 41, 'against': 26}}, 'home': {'played': 18, 'win': 9, 'draw': 7, 'lose': 2, 'goals': {'for': 27, 'against': 14}}, 'away': {'played': 18, 'win': 7, 'draw': 6, 'lose': 5, 'goals': {'for': 14, 'against': 12}}, 'update': '2021-05-26T00:00:00+00:00'}, {'rank': 5, 'team': {'id': 694, 'name': 'Tirana', 'logo': 'https://media.api-sports.io/football/teams/694.png'}, 'points': 58, 'goalsDiff': 15, 'group': 'Superliga', 'form': 'WDLDW', 'status': 'same', 'description': None, 'all': {'played': 36, 'win': 15, 'draw': 13, 'lose': 8, 'goals': {'for': 41, 'against': 26}}, 'home': {'played': 18, 'win': 9, 'draw': 3, 'lose': 6, 'goals': {'for': 23, 'against': 13}}, 'away': {'played': 18, 'win': 6, 'draw': 10, 'lose': 2, 'goals': {'for': 18, 'against': 13}}, 'update': '2021-05-26T00:00:00+00:00'}, {'rank': 6, 'team': {'id': 577, 'name': 'FK Kukesi', 'logo': 'https://media.api-sports.io/football/teams/577.png'}, 'points': 45, 'goalsDiff': -1, 'group': 'Superliga', 'form': 'LLWWW', 'status': 'same', 'description': None, 'all': {'played': 36, 'win': 13, 'draw': 6, 'lose': 17, 'goals': {'for': 47, 'against': 48}}, 'home': {'played': 18, 'win': 6, 'draw': 3, 'lose': 9, 'goals': {'for': 18, 'against': 23}}, 'away': {'played': 18, 'win': 7, 'draw': 3, 'lose': 8, 'goals': {'for': 29, 'against': 25}}, 'update': '2021-05-26T00:00:00+00:00'}, {'rank': 7, 'team': {'id': 605, 'name': 'Skenderbeu Korce', 'logo': 'https://media.api-sports.io/football/teams/605.png'}, 'points': 37, 'goalsDiff': -21, 'group': 'Superliga', 'form': 'LWWDD', 'status': 'same', 'description': None, 'all': {'played': 36, 'win': 9, 'draw': 10, 'lose': 17, 'goals': {'for': 34, 'against': 55}}, 'home': {'played': 18, 'win': 4, 'draw': 6, 'lose': 8, 'goals': {'for': 18, 'against': 27}}, 'away': {'played': 18, 'win': 5, 'draw': 4, 'lose': 9, 'goals': {'for': 16, 'against': 28}}, 'update': '2021-05-26T00:00:00+00:00'}, {'rank': 8, 'team': {'id': 3319, 'name': 'Kastrioti Krujë', 'logo': 'https://media.api-sports.io/football/teams/3319.png'}, 'points': 35, 'goalsDiff': -18, 'group': 'Superliga', 'form': 'WDLLL', 'status': 'same', 'description': 'Relegation Play-off', 'all': {'played': 36, 'win': 8, 'draw': 11, 'lose': 17, 'goals': {'for': 26, 'against': 44}}, 'home': {'played': 18, 'win': 4, 'draw': 6, 'lose': 8, 'goals': {'for': 12, 'against': 23}}, 'away': {'played': 18, 'win': 4, 'draw': 5, 'lose': 9, 'goals': {'for': 14, 'against': 21}}, 'update': '2021-05-26T00:00:00+00:00'}, {'rank': 9, 'team': {'id': 3325, 'name': 'Bylis', 'logo': 'https://media.api-sports.io/football/teams/3325.png'}, 'points': 31, 'goalsDiff': -23, 'group': 'Superliga', 'form': 'LDLLL', 'status': 'same', 'description': 'Relegation', 'all': {'played': 36, 'win': 7, 'draw': 10, 'lose': 19, 'goals': {'for': 28, 'against': 51}}, 'home': {'played': 18, 'win': 5, 'draw': 6, 'lose': 7, 'goals': {'for': 15, 'against': 20}}, 'away': {'played': 18, 'win': 2, 'draw': 4, 'lose': 12, 'goals': {'for': 13, 'against': 31}}, 'update': '2021-05-26T00:00:00+00:00'}, {'rank': 10, 'team': {'id': 3321, 'name': 'Apolonia Fier', 'logo': 'https://media.api-sports.io/football/teams/3321.png'}, 'points': 21, 'goalsDiff': -45, 'group': 'Superliga', 'form': 'LDLLL', 'status': 'same', 'description': 'Relegation', 'all': {'played': 36, 'win': 4, 'draw': 9, 'lose': 23, 'goals': {'for': 22, 'against': 67}}, 'home': {'played': 18, 'win': 4, 'draw': 3, 'lose': 11, 'goals': {'for': 12, 'against': 30}}, 'away': {'played': 18, 'win': 0, 'draw': 6, 'lose': 12, 'goals': {'for': 10, 'against': 37}}, 'update': '2021-05-26T00:00:00+00:00'}]]}}]}

In [18]:
# Normalizza i dati dei giocatori
df_team = pd.json_normalize(data['parameters'], sep='_')
df_team.head()

  league season
0    310   2020

In [19]:
# Normalizza i dati dei giocatori
df_lineups_home = pd.json_normalize(data['response'], sep='_')

df_lineups_home.head()

,league_id,league_name,league_country,league_logo,league_flag,league_season,league_standings
0,310,Superliga,Albania,https://media.api-sports.io/football/leagues/3...,https://media.api-sports.io/flags/al.svg,2020,"[[{'rank': 1, 'team': {'id': 3320, 'name': 'Te..."

In [27]:
# Normalizza i dati dei giocatori
df_lineups_home = pd.json_normalize(data['response']['league']['standings'], sep='_')

df_lineups_home.head()

TypeError: list indices must be integers or slices, not str

In [5]:
df2 = pd.json_normalize(df_lineups['substitutes'], sep='_')
df2.head()

,0,1,2,3,4,5,6
0,"{'player_id': 727, 'player_name': 'R. Nelson',...","{'player_id': 1460, 'player_name': 'B. Saka', ...","{'player_id': 1454, 'player_name': 'M. Guendou...","{'player_id': 1440, 'player_name': 'R. Holding...","{'player_id': 19599, 'player_name': 'E. Martín...","{'player_id': 748, 'player_name': 'Dani Ceball...","{'player_id': 1463, 'player_name': 'J. Willock..."
1,"{'player_id': 899, 'player_name': 'Andreas Per...","{'player_id': 897, 'player_name': 'M. Greenwoo...","{'player_id': 901, 'player_name': 'Mata', 'pla...","{'player_id': 884, 'player_name': 'S. Romero',...","{'player_id': 138806, 'player_name': 'B. Willi...","{'player_id': 888, 'player_name': 'P. Jones', ...","{'player_id': 894, 'player_name': 'A. Young', ..."

In [6]:
df3 = pd.json_normalize(df_lineups['startXI'], sep='_')
df3.head()

,0,1,2,3,4,5,6,7,8,9,10
0,"{'player_id': 1438, 'player_name': 'B. Leno', ...","{'player_id': 2283, 'player_name': 'David Luiz...","{'player_id': 1450, 'player_name': 'S. Papasta...","{'player_id': 1442, 'player_name': 'S. Kolašin...","{'player_id': 1458, 'player_name': 'M. Özil', ...","{'player_id': 1464, 'player_name': 'G. Xhaka',...","{'player_id': 1456, 'player_name': 'A. Maitlan...","{'player_id': 1462, 'player_name': 'L. Torreir...","{'player_id': 1465, 'player_name': 'P. Aubamey...","{'player_id': 1467, 'player_name': 'A. Lacazet...","{'player_id': 3246, 'player_name': 'N. Pépé', ..."
1,"{'player_id': 882, 'player_name': 'David de Ge...","{'player_id': 889, 'player_name': 'V. Lindelöf...","{'player_id': 2935, 'player_name': 'H. Maguire...","{'player_id': 891, 'player_name': 'L. Shaw', '...","{'player_id': 18846, 'player_name': 'A. Wan-Bi...","{'player_id': 902, 'player_name': 'N. Matić', ...","{'player_id': 905, 'player_name': 'Fred', 'pla...","{'player_id': 900, 'player_name': 'J. Lingard'...","{'player_id': 19329, 'player_name': 'D. James'...","{'player_id': 908, 'player_name': 'A. Martial'...","{'player_id': 909, 'player_name': 'M. Rashford..."