In [7]:
from dotenv import load_dotenv
import os
import pandas as pd
import sqlite3
import requests
import json
from pandas import json_normalize
import pandas as pd

# Load env. variables from .env file
load_dotenv()
api_key = os.getenv("RAPIDAPI_KEY")
api_host = os.getenv("RAPIDAPI_HOST")
db_path = os.getenv("db_path")
json_path = os.getenv("json_path")

In [8]:
# Load JSON file from data/json_files/season
with open("C:/Users/salvo/Desktop/Progetti/AIBetting/core/data/json_files/venues_info.json") as json_file:
    data = json.load(json_file)
    print(data)

{'get': 'venues', 'parameters': {'country': 'Aruba'}, 'errors': [], 'results': 0, 'paging': {'current': 1, 'total': 1}, 'response': []}

In [9]:
df1 = pd.json_normalize(data, 'response', sep='_') # Extract the response data
df1.head()

Empty DataFrame
Columns: []
Index: []

In [23]:
df_players_season_stats = pd.json_normalize(df1["statistics"])
df_players_season_stats.head()

,0,1
0,"{'team.id': 577, 'team.name': 'FK Kukesi', 'te...",None
1,"{'team.id': 577, 'team.name': 'FK Kukesi', 'te...",None
2,"{'team.id': 577, 'team.name': 'FK Kukesi', 'te...",None
3,"{'team.id': 577, 'team.name': 'FK Kukesi', 'te...","{'team.id': 577, 'team.name': 'FK Kukesi', 'te..."
4,"{'team.id': 577, 'team.name': 'FK Kukesi', 'te...",None

In [31]:
# Converti la stringa JSON in un dizionario Python
data = json.loads(data)

# Estrai i dati di risposta
response_data = data['response'][0]

# Normalizza il JSON annidato in un DataFrame
df = json_normalize(response_data)

# Visualizza il DataFrame
df.head()

TypeError: the JSON object must be str, bytes or bytearray, not dict