In [1]:
from dotenv import load_dotenv
import os
import pandas as pd
import sqlite3
import requests
import json
from pandas import json_normalize
import pandas as pd

# Load env. variables from .env file
load_dotenv()
api_key = os.getenv("RAPIDAPI_KEY")
api_host = os.getenv("RAPIDAPI_HOST")
db_path = os.getenv("db_path")
json_path = os.getenv("json_path")

In [5]:
# Load JSON file from data/json_files/season
with open("C:/Users/salvo/Desktop/Progetti/AIBetting/core/data/json_files/match_statistics.json") as json_file:
    data = json.load(json_file)
    print(data)

{'get': 'fixtures/statistics', 'parameters': {'fixture': '157216'}, 'errors': [], 'results': 2, 'paging': {'current': 1, 'total': 1}, 'response': [{'team': {'id': 51, 'name': 'Brighton', 'logo': 'https://media.api-sports.io/football/teams/51.png'}, 'statistics': [{'type': 'Shots on Goal', 'value': 5}, {'type': 'Shots off Goal', 'value': 4}, {'type': 'Total Shots', 'value': 16}, {'type': 'Blocked Shots', 'value': 7}, {'type': 'Shots insidebox', 'value': 11}, {'type': 'Shots outsidebox', 'value': 5}, {'type': 'Fouls', 'value': 8}, {'type': 'Corner Kicks', 'value': 5}, {'type': 'Offsides', 'value': 0}, {'type': 'Ball Possession', 'value': '47%'}, {'type': 'Yellow Cards', 'value': 2}, {'type': 'Red Cards', 'value': None}, {'type': 'Goalkeeper Saves', 'value': 3}, {'type': 'Total passes', 'value': 484}, {'type': 'Passes accurate', 'value': 377}, {'type': 'Passes %', 'value': '78%'}]}, {'team': {'id': 49, 'name': 'Chelsea', 'logo': 'https://media.api-sports.io/football/teams/49.png'}, 'statistics': [{'type': 'Shots on Goal', 'value': 5}, {'type': 'Shots off Goal', 'value': 4}, {'type': 'Total Shots', 'value': 16}, {'type': 'Blocked Shots', 'value': 7}, {'type': 'Shots insidebox', 'value': 12}, {'type': 'Shots outsidebox', 'value': 4}, {'type': 'Fouls', 'value': 15}, {'type': 'Corner Kicks', 'value': 3}, {'type': 'Offsides', 'value': 3}, {'type': 'Ball Possession', 'value': '53%'}, {'type': 'Yellow Cards', 'value': 3}, {'type': 'Red Cards', 'value': None}, {'type': 'Goalkeeper Saves', 'value': 4}, {'type': 'Total passes', 'value': 537}, {'type': 'Passes accurate', 'value': 436}, {'type': 'Passes %', 'value': '81%'}]}]}

In [6]:
# Normalizza i dati dei giocatori
df_team = pd.json_normalize(data['parameters'], sep='_')
df_team.head()

  fixture
0  157216

In [8]:
# Normalizza i dati dei giocatori
df_lineups_home = pd.json_normalize(data['response'][0], sep='_')

df_lineups_home.head()

,statistics,team_id,team_name,team_logo
0,"[{'type': 'Shots on Goal', 'value': 5}, {'type...",51,Brighton,https://media.api-sports.io/football/teams/51.png

In [11]:
# Normalizza i dati dei giocatori
df_lineups_home = pd.json_normalize(data['response'][1], sep='_')

df_lineups_home.head()

,statistics,team_id,team_name,team_logo
0,"[{'type': 'Shots on Goal', 'value': 5}, {'type...",49,Chelsea,https://media.api-sports.io/football/teams/49.png

In [5]:
df2 = pd.json_normalize(df_lineups['substitutes'], sep='_')
df2.head()

,0,1,2,3,4,5,6
0,"{'player_id': 727, 'player_name': 'R. Nelson',...","{'player_id': 1460, 'player_name': 'B. Saka', ...","{'player_id': 1454, 'player_name': 'M. Guendou...","{'player_id': 1440, 'player_name': 'R. Holding...","{'player_id': 19599, 'player_name': 'E. Mart√≠n...","{'player_id': 748, 'player_name': 'Dani Ceball...","{'player_id': 1463, 'player_name': 'J. Willock..."
1,"{'player_id': 899, 'player_name': 'Andreas Per...","{'player_id': 897, 'player_name': 'M. Greenwoo...","{'player_id': 901, 'player_name': 'Mata', 'pla...","{'player_id': 884, 'player_name': 'S. Romero',...","{'player_id': 138806, 'player_name': 'B. Willi...","{'player_id': 888, 'player_name': 'P. Jones', ...","{'player_id': 894, 'player_name': 'A. Young', ..."

In [6]:
df3 = pd.json_normalize(df_lineups['startXI'], sep='_')
df3.head()

,0,1,2,3,4,5,6,7,8,9,10
0,"{'player_id': 1438, 'player_name': 'B. Leno', ...","{'player_id': 2283, 'player_name': 'David Luiz...","{'player_id': 1450, 'player_name': 'S. Papasta...","{'player_id': 1442, 'player_name': 'S. Kola≈°in...","{'player_id': 1458, 'player_name': 'M. √ñzil', ...","{'player_id': 1464, 'player_name': 'G. Xhaka',...","{'player_id': 1456, 'player_name': 'A. Maitlan...","{'player_id': 1462, 'player_name': 'L. Torreir...","{'player_id': 1465, 'player_name': 'P. Aubamey...","{'player_id': 1467, 'player_name': 'A. Lacazet...","{'player_id': 3246, 'player_name': 'N. P√©p√©', ..."
1,"{'player_id': 882, 'player_name': 'David de Ge...","{'player_id': 889, 'player_name': 'V. Lindel√∂f...","{'player_id': 2935, 'player_name': 'H. Maguire...","{'player_id': 891, 'player_name': 'L. Shaw', '...","{'player_id': 18846, 'player_name': 'A. Wan-Bi...","{'player_id': 902, 'player_name': 'N. Matiƒá', ...","{'player_id': 905, 'player_name': 'Fred', 'pla...","{'player_id': 900, 'player_name': 'J. Lingard'...","{'player_id': 19329, 'player_name': 'D. James'...","{'player_id': 908, 'player_name': 'A. Martial'...","{'player_id': 909, 'player_name': 'M. Rashford..."